﻿
header {
}
h1 {
 font-family: inherit;
 font-size: 36px;
 padding-bottom: 0;
 margin: 5px 0 0 0;
}
h2 {
 font-family: inherit;
 font-size: 20px;
 padding-top: 0;
 margin-top: 0;
}
textarea {
 width: 400px;

 font-size: 18px;
 padding: 8px;
 margin: 10px 0 20px 0;
 border: 3px solid #444;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 10px 10px 5px #888;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
 min-height: 22px;
 background-color: #FF9;
}
input[type=submit] {

 font-size: 16px;
 border: 1px double black;
 background-color: #DDD;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 10px 10px 5px #888;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
}
ol {
 list-style-type: lower-roman;
 max-width: 360px;
 padding-left: 40px;
}
li>div>h3 {
 font-size: 10pt;
 font-weight: normal;
 font-variant: small-caps;
 margin-bottom: 3px;
 text-shadow: 2px 2px 2px #AAA;
}
li>div>p {
 margin-top: 0;
}
li>div:hover {
 background-color: #EEE;
}
li>div:hover:before {
 content: 'löschen per Doppelklick';
 float: right;
 margin: 0;
 font-size: 12px;
 color: red;
 font-style: italic;
}
footer {
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: #333;
 opacity: 0.8;
 color: #FFF;
 font-family: Verdana, Arial, sans-serif;
 font-size: 12px;
 margin: 0;
 padding: 5px;
 width: 100%;
}

#debug {
 position: absolute;
 right: 5px;
 top: 5px;
 max-width: 200px;
 border: 1px dotted grey;
 padding: 5px;
 font-size: 12px;
 font-family: Arial, Helvetica;
}
#debug p {
 margin: 1px;
}
#debug p:nth-child(even) {
 background-color: #EEE;
}